root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{py,pyi,toml,yaml,yml,md,rst,txt}]
indent_style = space
indent_size = 4

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.{sh,bash,ps1}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
